<footer class="bg-dark text-center text-lg-start text-white mt-5" style="background-color: #3e4551">
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-12">
                    <h5>About us</h5>
                    <a class="text-white" href="#">
                        Homequest Real Estate is dedicated to helping you unlock the secrets of this
                        extraordinary country. Discover the finest properties in Novaville and embark on a journey of a
                        lifetime. Your new home in this one-of-a-kind world awaits!
                    </a>
                </div>
            </div>
        </section>

        <section class="mb-4 text-center">
            <a class="btn btn-outline-light btn-floating m-1" href="https://facebook.com" role="button" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <a class="text-white" href="/">Homequest</a>
    </div>
</footer>