{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% if not user.is_authenticated %}
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="login modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'images/house-login.webp' %}" width="240" alt="modern house">
                    </div>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ loginform }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                    </form>
                    <a class="text-success" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{% trans "Sign In" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}