{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/favicon.ico' %}" width="35" height="35" alt="Homequest logo">
            <h1>Homequest</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex flex-column flex-md-row ms-auto justify-content-md-between justify-content-lg-end">
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'properties-sale' %}">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Agents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">About</a>
                </li>
                <li class="nav-item me-3 me-lg-0 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Properties
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item me-3 me-lg-0 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa-regular fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <li>
                                    <button class="dropdown-item" type="submit">Sign Out</button>
                                </li>
                            </form>
                        {% else %}
                            <li>
                                <a href="#loginModal" class="dropdown-item" data-bs-toggle="modal"
                                   data-bs-target="#loginModal">Login</a>
                            </li>
                            <li>
                                <a href="#signupModal" class="dropdown-item" data-bs-toggle="modal"
                                   data-bs-target="#signupModal">Sign-up</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->