{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Agents Section -->
    <div class="container mt-5">
        <div class="text-center row">
            <h1 class="text-center">Our Team of Dedicated Agents at Homequest</h1>
            <p class="text-center">At Homequest, we're committed to helping you find your dream home or sell your
                property.</p>
            <h2 class="mt-5">Meet Our Agents</h2>
        </div>
        <!-- Agent Cards -->
        <div class="row">
            {% load cloudinary %}
            {% for agent in agents %}
                <div class="col-12 col-lg-4 mb-5">
                    <div class="card mb-3">
                        <div class="p-3">
                            <div class="ratio ratio-1x1 p-3">
                                {% cloudinary agent.profile_picture alt="agent picture" class="profile-image img-fluid rounded-circle" style="object-fit: cover;" %}
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="card-body">
                                    <h4 class="card-text">{{ agent.formatted_name }}</h4><br>
                                    <p class="card-text"><i class="fa-regular fa-envelope"></i> {{ agent.user.email }}
                                    </p>
                                    <p class="card-text"><i
                                            class="fa-solid fa-phone"></i> {{ agent.formatted_telephone }}
                                    </p>
                                    <p class="card-text"><small class="text-muted">Agent
                                        License: {{ agent.license_no }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h2 class="mt-5">Why Choose Homequest Agents?</h2>
            <ul>
                <li><i class="fas fa-lightbulb"></i> Expertise: Our agents have a deep understanding of the local real estate market.</li>
                <li><i class="fas fa-handshake"></i> Personalized Service: Your success is our top priority.</li>
                <li><i class="fas fa-map-marker"></i> Local Knowledge: We know the ins and outs of the area.</li>
                <li><i class="fas fa-comment"></i> Transparency: We believe in open and honest communication.</li>
                <li><i class="fas fa-heart"></i> Client-Centered Approach: We're dedicated to delivering exceptional service.</li>
            </ul>
        </div>
    </div>
{% endblock %}