{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Agents Section -->
    <div class="container">
        <!-- Why choose homequest agents -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Why Choose Homequest Agents?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-lightbulb"></i> <strong>Expertise:</strong> Our agents have a deep
                            understanding
                            of the local real estate market.
                        </li>
                        <li>
                            <i class="fas fa-handshake"></i> <strong>Personalized Service:</strong> Your success is our
                            top
                            priority.
                        </li>
                        <li>
                            <i class="fas fa-map-marker"></i> <strong>Local Knowledge:</strong> We know the ins and outs
                            of
                            the area.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-comment"></i> <strong>Transparency:</strong> We believe in open and honest
                            communication.
                        </li>
                        <li>
                            <i class="fas fa-heart"></i> <strong>Client-Centered Approach:</strong> We're dedicated to
                            delivering exceptional service.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center row mt-5">
            <h1 class="text-center">Our Team of Dedicated Agents at Homequest</h1>
            <p class="text-center">At Homequest, we're committed to helping you find your dream home or sell your
                property.</p>

        </div>
        <hr>
        <!-- Agent Cards -->
        <div class="row mt-5">
            <h2 class="text-center">Meet Our Agents</h2>
            {% load cloudinary %}
            {% for agent in agents %}
                <div class="col-12 col-lg-4 mb-5">
                    <div class="card mb-3">
                        <div class="p-3">
                            <div class="ratio ratio-1x1 p-3">
                                {% cloudinary agent.user.picture alt="agent picture" class="profile-image img-fluid rounded-circle" style="object-fit: cover;" %}
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="card-body">
                                    <h4 class="card-text">{{ agent.formatted_name }}</h4>
                                    <hr class="my-4">
                                    <p class="card-text"><i class="fa-regular fa-envelope"></i> {{ agent.user.email }}
                                    </p>
                                    <p class="card-text"><i
                                            class="fa-solid fa-phone"></i> {{ agent.formatted_telephone }}
                                    </p>
                                    <p class="card-text"><small class="text-muted">Agent
                                        License: {{ agent.license_no }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}