{% load static %}

<!doctype html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Home Quest {% block extra_title %}{% endblock %}</title>
</head>
<body>
<header class="container-fluid fixed-top">
    <h1>Test</h1>
</header>

{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}

                {% elif level == 30 %}

                {% elif level == 25 %}

                {% else %}

                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
{% endblock %}


</body>
</html>