{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}
{% block content %}
    <div class="container mt-5 mb-5">
        <form class="row" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12 mb-3">
                <!-- Display edit and image upload options for staff users -->
                <button type="submit"
                        class="btn btn-success"><i
                        class="fa-solid fa-pen-to-square"></i> Save
                    Property Edit
                </button>
            </div>
            <!-- Images Carousel -->
            <div class="col-12 col-lg-7">
                <div id="carouselExampleDark"
                     class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        {% for image in property.images.all %}
                            <button type="button"
                                    data-bs-target="#carouselExampleDark"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 1"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in property.images.all %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                {% cloudinary image.image crop="fill" alt="house picture" class="d-block w-100 property-image mb-4" %}
                                <div class="position-absolute bottom-0 mb-5" style="margin-left: 40%;">
                                    <a href="{% url 'delete_image_view' image.id %}"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash"></i> Delete
                                        Image
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {{ image_form.as_p }}
            </div>
            <!-- Property Edit Form -->
            <div class="col-12 col-lg-5 mb-5">
                <h2>{{ property_form.title }}</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Type</th>
                        <td>{{ property_form.property_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{ property_form.price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{ property_form.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{ property_form.state }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bathrooms</th>
                        <td>{{ property_form.bathrooms }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bedrooms</th>
                        <td>{{ property_form.bedrooms }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fireplaces</th>
                        <td>{{ property_form.fireplaces }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Parking Spaces</th>
                        <td>{{ property_form.parking_spaces }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Meters Square</th>
                        <td>{{ property_form.size }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-floating">
                    {{ property_form.description }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}