{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}
{% block content %}
    <div class="container mt-5 mb-5">
        <form class="row" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12 mb-3">
                <!-- Display edit and image upload options for staff users -->
                <button type="submit"
                        class="btn btn-success"><i
                        class="fa-solid fa-pen-to-square"></i> Save
                    Property Edit
                </button>
                <a href="{% url 'delete_property_view' property.id %}"
                   id="deletePropertyBtn" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Delete
                    Property
                </a>
            </div>
            <!-- Images Carousel -->
            <div class="col-12 col-lg-7">
                <div id="carouselExampleDark"
                     class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        {% if property.images.all.count %}
                            {% for image in property.images.all %}
                                <button type="button"
                                        data-bs-target="#carouselExampleDark"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        class="active"
                                        aria-current="true"
                                        aria-label="Slide 1"></button>
                            {% endfor %}
                        {% else %}
                            <button type="button"
                                    data-bs-target="#carouselExampleDark"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 1"></button>
                        {% endif %}
                    </div>
                    <div class="carousel-inner">
                        {% if property.images.all.count %}
                            {% for image in property.images.all %}
                                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                    {% cloudinary image.image crop="fill" alt="house picture" class="d-block w-100 property-image mb-4" %}
                                    <div class="position-absolute bottom-0 mb-5"
                                         style="margin-left: 40%;">
                                        <a href="{% url 'delete_image_view' image.id %}"
                                           class="btn btn-danger">
                                            <i class="fas fa-trash"></i> Delete
                                            Image
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img src="{% static 'images/no-picture.webp' %}"
                                     alt="no image">
                            </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div>
                    <h2>Add Image</h2>
                    {{ image_form.as_p }}
                </div>

            </div>
            <!-- Property Edit Form -->
            <div class="col-12 col-lg-5 mb-5">
                <h2>Title</h2>
                <h2>{{ property_form.title }}</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Type</th>
                        <td>{{ property_form.property_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{ property_form.price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{ property_form.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{ property_form.state }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bathrooms</th>
                        <td>{{ property_form.bathrooms }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bedrooms</th>
                        <td>{{ property_form.bedrooms }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fireplaces</th>
                        <td>{{ property_form.fireplaces }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Parking Spaces</th>
                        <td>{{ property_form.parking_spaces }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Meters Square</th>
                        <td>{{ property_form.size }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Agent</th>
                        <td>{{ property_form.agent }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 mb-5">
                <h2>Description</h2>
                {{ property_form.description }}
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Confirmation Buttons -->
    <script>
        $(document).ready(function () {
            // Target the delete button by its class or any other identifier
            $("#deletePropertyBtn").on("click", function (e) {
                // Prevent the default action of the link
                e.preventDefault();

                // Show a confirmation dialog
                let confirmation = confirm("Are you sure you want to delete this property?");

                // If the user confirms, proceed with the deletion
                if (confirmation) {
                    // Redirect to the delete URL
                    window.location.href = $(this).attr("href");
                } else {
                    // If the user cancels, do nothing or provide feedback
                    console.log("Deletion canceled");
                }
            });
        });
    </script>
{% endblock %}