{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid full-width-container">
        <div class="card search-house-row text-center">
            <img class="search-house-image" src="{% static 'images/house-keys.webp' %}" alt="house keys in a hand">
            <div class="card-img-overlay d-flex flex-column justify-content-center text-white">
                <div class="col-12 col-md-8 mx-auto text-center black-transparent-background">
                    <h2 class="card-title">Home Finder</h2>
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" id="test-search" class="form-control"
                               placeholder="City, Agent, Description...">
                        <button class="btn btn-success">Search</button>
                    </div>
                    <div class="col-12 col-md-2 mt-1">
                        <div class="btn-group" role="group" aria-label="Search Options">
                            <input type="radio" class="btn-check" name="search-for" id="buy" autocomplete="off" checked>
                            <label for="buy" class="btn btn-success btn-md">Buy</label>
                            <input type="radio" class="btn-check" name="search-for" id="rent" autocomplete="off">
                            <label for="rent" class="btn btn-success btn-md">Rent</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% load cloudinary %}
        <div class="row text-center">
            <h2>Latest Properties</h2>
            {% for property in latest_properties %}

                <div class=" col-lg-3 mt-3 mb-3 justify-content-around">
                    <div class="card bg-dark text-white property-card">
                        <a href="{% url 'property_detail' property.id %}">
                            {% for image in property.images %}
                                {% if forloop.counter0 == 0 %}
                                    {% cloudinary image.image crop="fill" alt="Front House Picture" class="brief-display-image" %}
                                {% endif %}
                            {% endfor %}
                            <div class="card-img-overlay">
                                <p class="black-transparent-background text-center d-inline-block">{{ property.formatted_type }}</p>
                            </div>
                            <div class="card-body text-start">
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title">{{ property.address }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title">{{ property.formatted_price_euro }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>
                                        <i class="fa-solid fa-bed"></i>
                                        {{ property.bedrooms }}
                                    </p>
                                    <p>
                                        <i class="fa-solid fa-sink"></i>
                                        {{ property.bathrooms }}
                                    </p>
                                    <p>
                                        <i class="fa-brands fa-squarespace"></i>
                                        {{ property.formatted_size }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}