{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <!-- Image on the right -->
            <div class="col-md-6">
                <img src="{% static 'images/index-house.jpg' %}"
                     alt="Welcome Image"
                     class="img-fluid">
            </div>

            <!-- Text on the left -->
            <div class="col-md-6 mt-5">
                <h1>Welcome to Homequest</h1>
                <p>Discover your dream home today. Search, explore, and find
                    the perfect property that suits your needs. Whether you're
                    looking for a cozy apartment in the heart of the city, a
                    spacious suburban house for your growing family, or a
                    serene retreat in the countryside, Homequest is here to
                    guide you on your journey to finding the ideal place to
                    call home. With a wide range of listings and powerful
                    search tools, we make the process of home hunting a breeze.
                    Let us help you make your homeownership dreams a
                    reality.</p>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        {% load cloudinary %}
        <div class="row text-center">
            <h2>Latest Properties</h2>
            {% for property in latest_properties %}

                <div class=" col-lg-3 mt-3 mb-3 justify-content-around">
                    <div class="card bg-dark text-white property-card">
                        <a href="{% url 'property_detail' property.id %}">
                            {% for image in property.images %}
                                {% if forloop.counter0 == 0 %}
                                    {% cloudinary image.image crop="fill" alt="Front House Picture" class="brief-display-image" %}
                                {% endif %}
                            {% endfor %}
                            <div class="card-img-overlay">
                                <p class="black-transparent-background text-center d-inline-block">{{ property.formatted_type }}</p>
                            </div>
                            <div class="card-body text-start">
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title">{{ property.address }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title">{{ property.formatted_price_euro }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>
                                        <i class="fa-solid fa-bed"></i>
                                        {{ property.bedrooms }}
                                    </p>
                                    <p>
                                        <i class="fa-solid fa-sink"></i>
                                        {{ property.bathrooms }}
                                    </p>
                                    <p>
                                        <i class="fa-brands fa-squarespace"></i>
                                        {{ property.formatted_size }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}