{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-3 mb-5">
    <div class="row">
        {% if user.is_staff %}
            <div class="col-12 mb-3">
                <!-- Display edit and image upload options for staff users -->
                <a href="{% url 'edit_property_with_id' property.pk %}"
                   class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i> Edit Property</a>
            </div>
        {% endif %}
        <!--Carousel for property images-->
        <div class="col-12 col-lg-7">
            <div id="carouselExampleDark"
                 class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    {% for image in property.images.all %}
                        <button type="button"
                                data-bs-target="#carouselExampleDark"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                class="active"
                                aria-current="true"
                                aria-label="Slide 1"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in property.images.all %}
                        {% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                                {% cloudinary image.image crop="fill" alt="house picture" class="d-block w-100 property-image mb-4" %}
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                {% cloudinary image.image crop="fill" alt="house picture" class="d-block w-100 property-image mb-4" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-5 mb-5">
            <h2>{{ property.title }}</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Type</th>
                    <td>{{ property.formatted_type }}</td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>{{ property.formatted_price_euro }}</td>
                </tr>
                <tr>
                    <th scope="row">House ID</th>
                    <td>{{ property.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ property.address }}</td>
                </tr>
                <tr>
                    <th scope="row">State</th>
                    <td>{{ property.formatted_state }}</td>
                </tr>
                <tr>
                    <th scope="row">Bathrooms</th>
                    <td>{{ property.bathrooms }}</td>
                </tr>
                <tr>
                    <th scope="row">Bedrooms</th>
                    <td>{{ property.bedrooms }}</td>
                </tr>
                <tr>
                    <th scope="row">Fireplaces</th>
                    <td>{{ property.fireplaces }}</td>
                </tr>
                <tr>
                    <th scope="row">Parking Spaces</th>
                    <td>{{ property.parking_spaces }}</td>
                </tr>
                <tr>
                    <th scope="row">Meters Square</th>
                    <td>{{ property.formatted_size }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Agent Contact -->
        <div class="col-12 col-lg-6 mb-5">
            <h2>Agent Contact</h2>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-12 col-md-4 p-3">
                        <div class="ratio ratio-1x1">
                            {% cloudinary agent.user.picture crop="fill" alt="agent's picture" class="rounded-circle" style="object-fit: cover;" %}
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="card-body">
                            <h4 class="card-text">{{ agent.formatted_name }}</h4>
                            <br>
                            <p class="card-text"><i
                                    class="fa-regular fa-envelope"></i> {{ agent.user.email }}
                            </p>
                            <p class="card-text"><i
                                    class="fa-solid fa-phone"></i> {{ agent.formatted_telephone }}
                            </p>
                            <p class="card-text"><small class="text-muted">Agent
                                License: {{ agent.license_no }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mb-5">
            <h3>Interested in this property?</h3>
            <h4>Send us a message</h4>
            <div class="contact-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if property.property_type == 'rent' %}
                        <a href="{% url 'checkout' property.pk %}"
                           class="btn btn-success">Rent it Now <i
                                class="fas fa-hand-holding-usd"></i></a>
                    {% endif %}
                    <button type="submit" class="btn btn-secondary">Send Email
                        <i class="fas fa-envelope"></i></button>
                </form>
            </div>


        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleDark'));
    </script>
{% endblock %}